.home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #e9e9e9;
  color: #111; /* 🔥 FIX PRINCIPAL */
  transition: background 0.3s ease;
}

/* DARK MODE HOME */
.home.dark {
  background: #121212;
  color: #f5f5f5;
}

.home.dark .home-section {
  color: #f5f5f5;
}

.home.dark .suggestions button {
  background: #2a2a2a;
  color: white;
}

.home.dark .shortcuts a {
  background: #2a2a2a;
  color: white;
}

.home.dark h2 {
  color: white;
}

/* HEADER */
.home-header {
   width: 100%;
  background: #55b51f;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 40px;
  box-sizing: border-box;
}

.home-left {
  display: flex;
  align-items: center;
}

.home-right {
  display: flex;
  align-items: center;
}

.home-logo {
  width: 160px;
}

/* MAIN */
.home-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px;
  text-align: center;
}

.home-bot {
  width: 150px;
  margin-bottom: 10px;
}

.home-main h1 {
  color: #55b51f;
  font-size: 30px;
  margin-bottom: 25px;
}

/* SECTIONS */
.home-section {
  width: 100%;
  max-width: 900px;
  margin-bottom: 25px;
}

.home-section h2 {
  margin-bottom: 15px;
  color: #111;
  font-size: 1.6rem; /* Ajusta este valor se quiseres ainda maior (ex: 1.6rem) */
  font-weight: 600;
}

/* SUGESTÕES */
.suggestions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

.suggestions button {
  background: white;
  border: none;
  padding: 15px;
  border-radius: 12px;
  cursor: pointer;
  text-align: left;

  color: #111; /* 🔥 SEM ISTO FICA BRANCO OU INVISÍVEL */
}

/* ATALHOS */
.shortcuts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.shortcuts a {
  background: white;
  padding: 12px;
  border-radius: 10px;
  text-decoration: none;
  color: #111; /* 🔥 obrigatório */
  display: block;
}

/* BOTÃO */
.start-btn {
  margin-top: 20px;
  background: #55b51f;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 25px;
  cursor: pointer;
}

.icon-btn {
  background: transparent;
  border: none;
  font-size: 22px;
  cursor: pointer;
}

